.env
venv
trading_pairs.json
valid_pairs.json
__pycache__
*.pyc
*.pyo
*.pyd
*.db
New_Coins_Research

Real_Time_Test/data
Real_Time_Test/venv
Real_Time_Test/__pycache__
Real_Time_Test/*.pyc
Real_Time_Test/*.pyo
Real_Time_Test/.env
